/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.nav-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 100;
}
.nav-container h1 {
  font-size: 3.4rem;
  font-family: 'Pacifico', cursive;
  padding: 10px;
}
@media (max-width: 500px) {
  .nav-container h1 {
    display: none;
  }
}
.nav-container nav {
  display: flex;
  justify-content: space-evenly;
}
@media (max-width: 500px) {
  .nav-container nav {
    display: none;
  }
}
.nav-container a {
  font-size: 1.5rem;
  text-decoration: none;
  margin: 10px;
  color: #006400;
}
.nav-container a:hover {
  color: lightgreen;
}
header {
  border-bottom: 3px solid #000;
  position: sticky;
  top: 0;
  background: #e1f0e1;
}
@media (max-width: 500px) {
  header {
    display: none;
  }
}
body {
  background: #f5fffa;
}
body p {
  font-family: 'PT Sans', sans-serif;
}
body h1,
body h2,
body a {
  font-family: 'PT Sans', sans-serif;
}
body .main-container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
body .main-container-about {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  background-color: #d7eed7;
}
body .main-container-about h1 {
  font-size: 2rem;
  text-align: center;
  padding: 10px;
}
body .text-content {
  width: 48%;
  padding: 2%;
}
body .text-content p {
  font-size: 1.3rem;
  padding: 1%;
}
@media (max-width: 500px) {
  body .text-content {
    width: 100%;
  }
}
body .content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 500px) {
  body .content {
    flex-direction: column;
  }
}
body .content-about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 2%;
  border-bottom: 2px dashed #008000;
}
body .content-about h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
@media (max-width: 500px) {
  body .content-about {
    flex-direction: column-reverse;
  }
}
body .no-bottom-border {
  border-bottom: 0;
}
body .inverse-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
body h2 {
  font-size: 2rem;
  text-align: center;
  padding: 5px;
  text-decoration: underline #006400;
}
body .img-container1 {
  width: 48%;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  body .img-container1 {
    width: 100%;
  }
}
body .img-container2 {
  width: 48%;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  body .img-container2 {
    width: 100%;
  }
}
body img {
  padding: 10px;
  border-radius: 100px;
}
body .about-img:hover {
  opacity: 0.5;
}
body .content-3 {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .content-3 p {
  text-align: center;
  padding: 10px;
  font-size: 1.3rem;
}
body .content-3 .sign-up {
  padding: 10px;
  background-color: #006400;
  width: 30%;
  text-align: center;
  font-size: 1.3rem;
  border: 1px solid #000;
  cursor: pointer;
}
body .content-3 .sign-up:hover {
  background-color: #FFF;
}
body .content-3 .sign-up:hover a {
  color: #000;
}
body .content-3 .sign-up a {
  text-decoration: none;
  color: #FFF;
}
body .info-tabs {
  width: 70%;
  margin: 45px auto;
  display: flex;
  border: 1px solid #000;
  z-index: 1;
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 800px) {
  body .info-tabs {
    display: none;
  }
}
body .info-tabs .tabs {
  width: 100%;
  height: 275px;
}
body .info-tabs .tabs p {
  font-size: 1.3rem;
}
body .info-tabs .tabs .tabs-items {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
body .info-tabs .tabs .tabs-item {
  display: none;
  width: 90%;
}
body .info-tabs .tabs .tabs-item .tabs-item-title {
  font-size: 1.5rem;
  font-weight: bold;
  padding-bottom: 10px;
}
body .info-tabs .tabs .tabs-item-selected {
  display: block;
}
body .info-tabs .tabs .tabs-links {
  display: flex;
  background-color: #008000;
}
body .info-tabs .tabs .tabs-link {
  padding: 20px 25px;
  font-size: 1.5rem;
  background-color: #008000;
  border-right: 1px solid white;
  color: white;
  cursor: pointer;
}
body .info-tabs .tabs .tabs-link:hover {
  background-color: #90EE90;
}
body .info-tabs .tabs .tabs-link-selected {
  border-right: 1px solid #006400;
  background-color: #f5fffa;
  color: black;
}
body .info-tabs .tabs .tabs-link-selected:hover {
  background-color: white;
}
body .new-header-container {
  display: none;
}
@media (max-width: 500px) {
  body .new-header-container {
    position: sticky;
    top: 0;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e1f0e1;
  }
  body .new-header-container h1 {
    font-size: 2rem;
    font-family: 'Pacifico', cursive;
  }
  body .new-header-container .dropdown {
    z-index: 2;
    position: absolute;
    left: 25px;
    cursor: pointer;
  }
}
@media (max-width: 500px) and (max-width: 500px) {
  body .new-header-container .dropdown {
    display: block;
  }
  body .new-header-container .dropdown .dropdown-button {
    background: #006400;
    color: #FFF;
    font-weight: bold;
    padding: 10px;
    border: 2px solid green;
  }
  body .new-header-container .dropdown .menu-content {
    width: 185%;
    position: absolute;
    background-color: #e1f0e1;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    border: 2.5px solid #006400;
  }
  body .new-header-container .dropdown .menu-content a {
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    color: black;
  }
  body .new-header-container .dropdown .dropdown-hidden {
    display: none;
  }
}
footer {
  border-top: 3px solid #000;
}
footer p {
  font-size: 0.9rem;
  text-align: center;
  padding: 15px;
  background: #d7eed7;
}
footer .link {
  font-family: 'PT Sans', sans-serif;
  text-decoration: underline;
}
footer a {
  text-decoration: none;
  color: #000;
  font-family: 'Pacifico', cursive;
}
* {
  box-sizing: border-box;
}
