footer{
    border-top: 3px solid @border-color;
    p{
        font-size: @font-extra-small;
        text-align: center;
        padding: 15px;
        background: @darkmint;

    }
    // .safe-space{
    //     font-size: @font-extra-small;
        
    // }
    .link{
        font-family: 'PT Sans', sans-serif;
        text-decoration: underline;
    }
    a{
        text-decoration: none;
        color: @black;
        font-family: 'Pacifico', cursive;
    }
}