body {
    background: @mintcream;
    z-index: 1;

    p {
        font-family: 'PT Sans', sans-serif;
        font-size: @font-small;
    }

    h1,
    h2,
    a {
        font-family: 'PT Sans', sans-serif;
    }

    .main-container {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;


    }

    .main-container-about {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        background-color: @about-background-color;

        h1 {
            font-size: @font-large;
            text-align: center;
            // text-decoration: underline @underline-color;
            padding: 10px;
        }
    }

    .text-content {
        width: 48%;
        padding: 2%;

        p {

            padding: 1%;
        }

        @media @mobile {
            width: 100%;
            text-align: center;
        }
    }

    .content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;

        @media @mobile {
            .column(column);
        }

    }


    .content-about {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 2%;
        border-bottom: 2px dashed @about-border-color;

        h2 {
            font-size: @font-med;
            font-weight: bold;
        }

        @media @mobile {
            .column(column-reverse);
        }

    }

    .no-bottom-border {
        border-bottom: 0;
    }

    .inverse-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

    }

    h2 {
        font-size: @font-large;
        text-align: center;
        padding: 5px;
        text-decoration: underline @underline-color;
    }

    .img-container1 {
        
        width: 48%;
        // display: flex;
        // justify-content: center;
        img {

            padding: 10px;
            border-radius: 100px;
            width: 100%;
    
    
        }

        @media @mobile{
            width: 100%;
        }


    }

    .img-container2 {
        width: 48%;
        display: flex;
        justify-content: center;

       

        @media @mobile {
            width: 100%;
        }


    }

    // img {

    //     padding: 10px;
    //     border-radius: 100px;


    // }

    .about-img {
        &:hover {
            opacity: .5;
        }
    }


    .content-3 {
        padding: 10px;
        .center(center, center);
        flex-direction: column;

        p {
            text-align: center;
            padding: 10px;
            font-size: @font-small;
        }

        .sign-up {
            padding: 10px;
            background-color: @sign-up-bg;
            width: 30%;
            text-align: center;
            font-size: @font-small;
            border: 1px solid @border-color;
            cursor: pointer;
            transition: transform .2s;

            &:hover {
                background-color: @sign-up-hover-bg;
                transform: scale(1.2);

                a {
                    color: @sign-up-hover-color;
                }
            }

            a {
                text-decoration: none;
                color: @sign-up-text-color;

            }
        }


    }

    .info-tabs {
        width: 70%;
        margin: 45px auto;
        display: flex;
        border: 3px solid @tab-container-border-color;
        z-index: 1;
        border-radius: 10px;
        overflow: hidden;

        @media @800px {
            display: none;
        }

        .tabs {
            width: 100%;
            height: 275px;


            p {
                font-size: @font-small;
            }

            .tabs-items {
                width: 100%;
                height: 300px;
                display: flex;
                justify-content: center;
                padding-top: 20px;
            }

            .tabs-item {
                display: none;

                width: 90%;

                .tabs-item-title {
                    font-size: @font-med;
                    font-weight: bold;
                    padding-bottom: 10px;
                }
            }

            .tabs-item-selected {
                display: block;

            }

            .tabs-links {
                display: flex;
                background-color: @tabs-link-background-color;
                border-bottom: 3px solid @tab-container-border-color;
            }

            .tabs-link {
                padding: 20px 25px;
                font-size: @font-med;
                background-color: @tabs-link-background-color;
                border-right: 1px solid white;
                color: @white;
                cursor: pointer;

                &:hover {
                    background-color: @tabs-hover-color;
                }
            }

            .tabs-link-selected {

                border-right: 1px solid @tabs-border-color;
                background-color: @body-background-color;

                color: @black;

                &:hover {
                    background-color: @white;
                }
            }
        }






    }

    //mobile view menu
    .new-header-container {
        display: none; //don't display until mobile view


        @media @mobile {
            z-index: 100;
            position: sticky;
            top: 0;
            width: 100%;
            height: 70px;
            border-bottom: 1px solid @white;
            display: flex;
            justify-content: center;
            align-items: center;
            background: @mint;


            h1 {
                font-size: @font-large;
                font-family: 'Pacifico', cursive;
            }

            .dropdown {
                z-index: 2;
                position: absolute;
                left: 25px;
                cursor: pointer;

                @media @mobile {

                    display: block; //at mobile view, display the menu

                    .dropdown-button {
                        background: @darkgreen;
                        color: @white;
                        font-weight: bold;
                        padding: 10px;
                        border: 2px solid green;
                    }

                    .menu-content {
                        width: 185%;
                        position: absolute;
                        background-color: @mint;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-top: 10px;
                        border: 2.5px solid @darkgreen;

                        a {
                            padding: 10px 0;
                            text-align: center;
                            text-decoration: none;
                            color: black;

                        }
                    }

                    .dropdown-hidden {
                        display: none;
                    }




                }

            }
        }
    }

    .mobile-para {
        display: none;

        @media @800px {
            display: block;
            text-align: center;
            padding: 3%;

        }

        @media @mobile {
            padding: 2%;
        }
    }


}