.nav-container{
    .center(center, center);
   flex-direction: column;

   h1{
       font-size: @title-size;
   }
   nav{
       display: flex;
       justify-content: space-evenly;
       border-bottom: 3px solid black;

   }
   a{
       font-size: @font-med;
       text-decoration: none;
        margin: 10px;
   }

}