.nav-container{
    .center(center, center);
   flex-direction: column;
   
   

   h1{
       font-size: @title-size;
   }
   nav{
       display: flex;
       justify-content: space-evenly;
      

   }
   a{
       font-size: @font-med;
       text-decoration: none;
        margin: 10px;
        color: @darkgreen;
   }

}
header{
    border-bottom: 3px solid black;
    position: sticky;
    top: 0;
    background: #e1f0e1;
}